{
  "project_info": {
    "project_number": "REPLACE_ME",
    "project_id": "cheezy-REPLACE_ME",
    "storage_bucket": "cheezy-REPLACE_ME.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:OPEN_RELEASE",
        "android_client_info": { "package_name": "com.cheezy.freedom.clash" }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:OPEN_DEBUG",
        "android_client_info": { "package_name": "com.cheezy.freedom.clash.debug" }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:PROP_RELEASE",
        "android_client_info": { "package_name": "com.cheezy.freedom" }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:REPLACE_ME:android:PROP_DEBUG",
        "android_client_info": { "package_name": "com.cheezy.freedom.debug" }
      },
      "oauth_client": [],
      "api_key": [{ "current_key": "REPLACE_ME" }],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    }
  ],
  "configuration_version": "1"
}
